/* Estilos para os ícones sociais - RESPONSIVOS */
html {
    scroll-behavior: smooth;
}

.social-icons-header {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.social-icons-footer {
    display: none;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.social-icons-footer a,
.social-icons-header a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D4B81;
    border-radius: 50%;
    color: white;
}

/* Para telas pequenas (celulares) */
@media (max-width: 640px) {
    .social-icons-header {
        display: none;
    }

    .justify-between {
        justify-content: center;
    }

    .social-icons-footer {
        display: flex;
    }
}